# Python Intro - Final Exercise

In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
import pyodbc
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=RENT-PC\SQLEXPRESS;'
                      'Database=college12;'
                      'Trusted_Connection=yes;')

In [49]:
df_courses = pd.read_sql('''select * from dbo.courses  ''', conn)
df_departments = pd.read_sql('''select * from dbo.departments   ''', conn)
df_classrooms = pd.read_sql('''select * from dbo.classrooms  ''', conn)
df_Students = pd.read_sql('''select * from dbo.Students  ''', conn)
df_Teachers = pd.read_sql('''select * from dbo.Teachers  ''', conn)

# Questions
 
 
## Q1. Count the number of students on each department

In [4]:
result = pd.merge(df_courses, df_departments, on=['DepartmentId'])
result1 = pd.merge(df_courses, df_classrooms, on=['CourseId'])
pd.merge(result,result1).groupby(['DepartmentName'])['StudentID'].nunique().sort_values()

DepartmentName
Sport       81
English     84
Arts       137
Science    200
Name: StudentID, dtype: int64

## Q2. How many students have each course of the English department and the total number of students in the department?

In [1]:
df_courses=df_courses.nsmallest(3, 'CourseId')
df_classrooms.loc[(df_classrooms['CourseId'] <= 3)]
pd.merge(df_courses, df_classrooms, on=['CourseId']).groupby(['CourseName'])['StudentID'].nunique().sort_values()

NameError: name 'df_courses' is not defined

In [23]:
pd.merge(df_courses, df_classrooms, on=['CourseId'])['StudentID'].nunique()

84

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

In [ ]:
Q3 = pd.DataFrame(classrooms.merge(courses[courses.DepartmentId == 2], on = 'CourseId'))
Q3a= Q3.groupby('CourseName').agg({'StudentID' :'count'})
Q3a.columns=['Total']
Q3b = Q3a.copy()
Q3b['Size'] = ''
Q3b.loc[(Q3b['Total']<= 22),'Size']='Small'
Q3b.loc[(Q3b['Total']> 22),'Size']='Big'
Q3b.groupby('Size').agg({'Size':['count']})

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

In [32]:
Students = df_Students 
Students = Students.rename(columns={"Gender": "Student_by_gender"})
Students.groupby(['Student_by_gender'])['StudentID'].nunique()

Student_by_gender
F    165
M    115
Name: StudentID, dtype: int64

## Q5. For which courses the percentage of male/female students is over 70%?

In [ ]:
Q5 = pd.merge (students ,classroms)

## Q6. For each department, how many students passed with a grades over 80?

In [82]:
result = pd.merge(df_courses, df_departments, on=['DepartmentId'])
classrooms = df_classrooms.loc[(df_classrooms['degree'] >= 80) ]
pd.merge(result,classrooms, on=['CourseId']).groupby(['DepartmentName'])['StudentID'].count()

DepartmentName
Arts        68
English     43
Science    171
Sport       41
Name: StudentID, dtype: int64

## Q7. For each department, how many students passed with a grades under 60?

In [ ]:
Q7 = pd.merge(classrooms, courses, on = 'CourseId').merge(departments, on ='DepartmentId')
Q7a = Q7.copy()
Q7a = Q7a[Q7a.degree<60]
Q7a.groupby(['DepartmentName']).agg({'StudentID' :pd.Series.nunique})

## Q8. Rate the teachers by their average student's grades (in descending order).

In [ ]:
Q8 = pd.merge(courses, classrooms ,on = 'CourseId', how = 'left').merge(teachers, on = 'TeacherId', how = 'left')
Q8a = Q8.groupby(['TeacherId', 'FirstName', 'LastName']).agg({'degree' :'mean'})
Q8b = Q8a.sort_values('degree', ascending=False)
Q8b

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

In [ ]:
Q9 = pd.merge(courses, classrooms ,on = 'CourseId', how = 'left').merge(teachers, on = 'TeacherId', how = 'left').merge(departments, on = 'DepartmentId', how = 'left')
Q9a = Q9[['DepartmentName', 'CourseName', 'FirstName', 'StudentID']]
Q9b = Q9a.groupby(['DepartmentName', 'CourseName', 'FirstName']).agg({'StudentID' :'count'})
Q9b.rename(columns={'StudentID':'NumOfStudents'}, inplace=True)
Q9b

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).

In [ ]:
Q10 = pd.merge(students, classrooms ,on = 'StudentID', how = 'left')
Q10a = Q10[['StudentID', 'FirstName', 'LastName', 'CourseId','degree']]
Q10b = Q10a.groupby(['FirstName', 'LastName']).agg({'degree' :'mean','CourseId':'count'})
Q10b.rename(columns={'CourseId':'NumOfCourses', 'degree': 'TotalAVG'}, inplace=True)
Q10b.head(10)